{
        debug
        log
        order tls last
}

(proxy-cert) {
        header {
                -Server
                +X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"
                +X-Content-Type-Options "nosniff"
        }
        tls {
                client_auth {
                        mode require_and_verify
                        trusted_ca_cert_file /opt/certs/localca.pem
                        trusted_leaf_cert <insert base64 client cert>
                }
        }

        @stagerua {
                header User-agent "you already know"
        }

        reverse_proxy @stagerua https://cobaltmtls.northeurope.cloudapp.azure.com {
                header_up Host {upstream_hostport}
                header_up X-Forwarded-Host {host}
        }
}

(proxy-nocert) {
        header {
                -Server
                +X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"
                +X-Content-Type-Options "nosniff"
        }

        @c2ua {
                header User-agent "Mozilla/5.0 (Windows Phone 10.0; Android 6.0.1; Microsoft; RM-1152) AppleWebKit/537.36 (KHTML, like Gecko)"
        }
        reverse_proxy @c2ua https://cobaltmtls.northeurope.cloudapp.azure.com {
                header_up Host {upstream_hostport}
                header_up X-Forwarded-Host {host}
        }
}


https://caddymtls.northeurope.cloudapp.azure.com {
        handle /image-directory/* {
                import proxy-cert
        }
        handle /caller/* {
                import proxy-nocert
        }
        handle /* {
                respond "Access Denied" 403 {
                        close
                }
        }
}